@import '~bootstrap/dist/css/bootstrap.min.css';

.livebox{
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

.App {
  text-align: center;
  
}



p {
  white-space: pre-line;
}

body{
  background-color: #282c34;
}

h2, h1, p {
  color: white;
}

.App-header {
  min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


textarea {
  width: 80%; /* or any desired width in pixels or percentage */
  border-radius:5px;
  }