@import '~bootstrap/dist/css/bootstrap.min.css';

.livebox{
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

.App {
  text-align: center;
  
}

.paragraph{
  padding:100px;
  padding-top:10px;
  padding-bottom: 10px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.theme-outline-button {
  /* Rectangle 39933 button */
  background-color: rgba(255, 255, 255, 0);
  /* box-sizing: border-box; */
  width: 128px;
  height: 52px;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  /* box-shadow: 0 0 0 1px #3d46b3; */
  border-color: #a9aee8;
}

.theme-button-small {
  color: white;
 padding-left: 9px;
 padding-right: 9px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  box-sizing: border-box;

  

  background: linear-gradient(
    266.45deg,
    #f990f7 -50.37%,
    #4a86ef 102.5%,
    #643eec 122.97%
  );
  /* border: 1px solid white; */
  border-radius: 5px;
}

p {
  white-space: pre-line;
  text-align: center;
}

body{
  background-image: linear-gradient(to bottom, #282c34, #4b4376);
  background-attachment: fixed;
  /* background-color: #282c34; */
}
html, body {
  height: 100%;
}
h2, h1, p {
  color: white;
}

.App-header {
  /* min-height: 100vh; */
  align-items: center;
  /* font-size: calc(40px + 2vmin); */
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  
}

.App-link {
  color: #61dafb;
}


textarea {
  width: 80%; 
  border-radius:5px;
  }


  .mail-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .mail-input p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .mail-input textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(246, 242, 242, 0.3);
    resize: none;
  }
  


  
  .mail-input .livebox {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    height: 10rem;
    overflow: auto;
  }
  
  .mail-input .livebox p {
    font-size: 1.2rem;
  }
  
  .theme-button {
    color: white;
    width: 60px;
    height: 36px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    box-sizing: border-box;
    width: 148px;
    height: 52px;
    left: 1228px;
    z-index: 999;
    top: 17px;
    background: linear-gradient(
      266.45deg,
      #f990f7 -50.37%,
      #4a86ef 102.5%,
      #643eec 122.97%
    );
    /* border: 1px solid white; */
    border-radius: 8px;
  }



  .dark {
    background-color: black;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border: 2px;
    border: white;
    box-shadow: 0 5px 5px -6px rgba(237, 233, 233, 0.5);
  }

  .main-navigation {
    box-shadow: 0 5px 5px -6px rgba(0, 0, 0, 0.5);
  }

  .stretch-nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease-in-out;
  }


  .p-with-linebreaks {
    white-space: pre-line !important;
  }

  .small-text{
    font-size: 15px;
  }

  .left-text{
    text-align: left;
  }
  

